.env.local
.gemini
.postman
erd
markdown
node_modules
postman

node_modules
.env
.env.local
dist
documentations
coverage
.DS_Store
npm-debug.log
.vercel
*.log
.vscode
.idea
*.swp
.cache
.next
erd
markdown
*.tsbuildinfo
